 .background_green {
     padding: 10px;
     background-color: green;
 }

 .background_red {
     padding: 10px;
     background-color: red;
 }
 
  .background_blue {
     padding: 10px;
     background-color: blue;
 }

  .background_yellow {
     padding: 10px;
     background-color: yellow;
 }

  .background_pink {
     padding: 10px;
     background-color: pink;
 }

 table, th, td {
  border: 1px solid black;
}